/* src/App.css */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.landing {
  flex: 1;
}

.footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  font-size: 0.9rem;
  position: sticky;
  bottom: 0;
  width: 100%;
}
